# Python bytecode (Sampah kompilasi)
__pycache__/
*.py[cod]
*$py.class

# Environment Lokal (Haram masuk ke Docker!)
venv/
.venv/
env/
.env
bin/
lib/
share/

# Database Lokal (Agar tidak menimpa DB Server)
*.sqlite3

# Folder Media & Static hasil testing
media/
staticfiles/
static/

# Metadata & OS Junk
.git
.gitignore
.dockerignore
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml

