# django
SECRET_KEY=
ALLOWED_HOSTS=
DEBUG=
CORS_ALLOWED_ORIGINS=
CSRF_ALLOWED_ORIGINS=
BACKEND_URL=


# database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=
DATABASE_PORT=


# Websocket
CHANNEL_HOST=

# HTTPs
SECURE_SSL_REDIRECT=
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=

# MQTT
MQTT_SERVER=
MQTT_PORT=
MQTT_KEEPALIVE=
MQTT_USER=      
MQTT_PASSWORD=
MQTT_SUBSCRIBE=


# Email Google
GOOGLE_PASSWORD=
GOOGLE_EMAIL=
GOOGLE_SECRET_KEY=
GOOGLE_CLIENT_ID=

# Redis
REDIS_HOST=